In [13]:
import pandas as pd
import os

folders = os.listdir('기상청_종관기상관측_ASOS_시단위')
csv_all = pd.DataFrame()

for i in range(0,len(folders)):
    if folders[i].split('.')[1] == 'csv':
        file = '기상청_종관기상관측_ASOS_시단위/'+folders[i]
        df= pd.read_csv(file,encoding='cp949') 
        csv_all = pd.concat([csv_all, df])

csv_all = csv_all.drop('기온 QC플래그', axis = 'columns')
csv_all = csv_all.drop('풍속 QC플래그', axis = 'columns')
csv_all = csv_all.drop('강수량 QC플래그', axis = 'columns')
csv_all = csv_all.drop('풍향 QC플래그', axis = 'columns')
csv_all = csv_all.drop('습도 QC플래그', axis = 'columns')
csv_all = csv_all.drop('현지기압 QC플래그', axis = 'columns')
csv_all = csv_all.drop('일조 QC플래그', axis = 'columns')
csv_all = csv_all.drop('해면기압 QC플래그', axis = 'columns')
csv_all = csv_all.drop('일사 QC플래그', axis = 'columns')

csv_all = csv_all.drop('지면온도(°C)', axis = 'columns')
csv_all = csv_all.drop('지면온도 QC플래그', axis = 'columns')

csv_all = csv_all.drop('5cm 지중온도(°C)', axis = 'columns')
csv_all = csv_all.drop('10cm 지중온도(°C)', axis = 'columns')
csv_all = csv_all.drop('20cm 지중온도(°C)', axis = 'columns')
csv_all = csv_all.drop('30cm 지중온도(°C)', axis = 'columns')

csv_all.to_csv(index=False)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식)
0,184,제주,2014-01-01 00:00,11.2,NaN,5.9,270.0,46.0,6.1,0.0,...,NaN,NaN,NaN,2.0,2.0,Sc,10.0,1500.0,NaN,NaN
1,184,제주,2014-01-01 01:00,11.3,NaN,7.1,290.0,51.0,6.8,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,184,제주,2014-01-01 02:00,10.7,NaN,7.0,290.0,51.0,6.5,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,184,제주,2014-01-01 03:00,10.4,NaN,5.7,290.0,47.0,5.9,-0.4,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,1500.0,0.0,NaN
4,184,제주,2014-01-01 04:00,10.5,NaN,6.4,290.0,47.0,6.0,-0.3,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,1200.0,NaN,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,189,서귀포,2019-12-31 19:00,4.8,NaN,0.7,70.0,67.0,5.8,-0.8,...,NaN,NaN,NaN,3.0,2.0,NaN,10.0,2000.0,NaN,NaN
35036,189,서귀포,2019-12-31 20:00,4.4,NaN,1.2,360.0,70.0,5.8,-0.6,...,NaN,NaN,NaN,9.0,7.0,NaN,9.0,2000.0,NaN,NaN
35037,189,서귀포,2019-12-31 21:00,4.6,NaN,0.9,360.0,73.0,6.2,0.1,...,NaN,NaN,NaN,8.0,8.0,Sc,9.0,2000.0,NaN,NaN
35038,189,서귀포,2019-12-31 22:00,5.1,NaN,0.9,250.0,74.0,6.5,0.8,...,NaN,NaN,NaN,6.0,6.0,NaN,8.0,2000.0,NaN,NaN
35039,189,서귀포,2019-12-31 23:00,5.3,NaN,1.3,200.0,72.0,6.4,0.6,...,NaN,NaN,NaN,5.0,5.0,NaN,9.0,2000.0,NaN,NaN