In [127]:
import pandas as pd
data = pd.read_csv("datas.csv")
#print(data)
data = data[['dclr_yr', 'dclr_mm', 'dclr_dd', 'dclr_hh', 'dclr_mi', '기사']]
data.replace(" ", "")
data

,dclr_yr,dclr_mm,dclr_dd,dclr_hh,dclr_mi,기사
0,2011,1,4,13,57,-{폭풍}-0358. {폭풍}0404-0802. {폭풍}1245-1337. {폭풍}...
1,2011,1,8,19,56,
2,2011,1,21,1,24,
3,2011,1,23,12,52,{비}1626-1732. {비}1738-1754. {비}1802-1826. {비}1...
4,2011,1,23,12,52,{비}1626-1732. {비}1738-1754. {비}1802-1826. {비}1...
...,...,...,...,...,...,...
1542,2020,12,22,20,40,
1543,2020,12,23,20,1,{비}1934-1949. {비}2228-2234.
1544,2020,12,25,18,46,
1545,2020,12,25,19,43,
1546,2020,12,30,4,10,-{박무}-0115. -{비}-0136. {비}0235-{진눈깨비}0350-{진눈깨...

In [178]:
import re

lists = []
for date, row in data.T.iteritems():
    
    gisa = row['기사']
    gisa_list = []
    gisa_list = gisa.split('.')
    
    #print(str(row['dclr_yr']) + str(row['dclr_mm']) + str(row['dclr_dd']) + str(row['dclr_hh']))
    accident_time = int(str(row['dclr_hh']) + '' + str(row['dclr_mi']))
    #print(accident_time)
    weather = ""
    for i in gisa_list:
        m = re.search('{(.+?)}', i) #search around { }
        time = re.sub(r'\{[^)]*\}', '', i) #remove { }
        time = time.strip('-')

        time_list = []
        time_list = time.split('-')
        
        t = re.search('(.+?)-', i)

        if(m != None):
            #weather += m.group(1)            
            #print(time_list)
            if(len(time_list) == 2 and isinstance(int(time_list[0]), int) and isinstance(int(time_list[1]), int)):
                print(m.group(1) + " " + str(time_list[0]) + " " + str(time_list[1]) + " " + str(accident_time))

                if(int(time_list[0]) < accident_time and int(time_list[1]) > accident_time):
                    print("it did!")
                    print(m.group(1))
            weather += time
            weather += " "
    lists.append(weather)

    #기사 비율을 빗대보는것도 좋을듯!
#lists

In [15]:
second = {}
for i in range(len(data)):
    if pd.isna(data['기사'].loc[i]):
        continue
    second[str(data['지점'].loc[i])+"@"+data['지점명'].loc[i]+"@"+data['일시'].loc[i]] = data['기사'].loc[i]
    
for i in second:
    second[i] = second[i].split('{')
    
for i in second:
    for j in range(len(second[i])):
        second[i][j] = second[i][j].split('}')
        
for i in second:
    for j in range(len(second[i])):
        for a in range(len(second[i][j])):
            if second[i][j][a] == '':
                del second[i][j][a]
            elif len(second[i][j]) == 1 and second[i][j][a] == '-':
                del second[i][j][a]
                
for i in second:
    for j in range(len(second[i])):
        for a in range(len(second[i][j])):
            second[i][j][a] = second[i][j][a].strip("."" ")

for i in second:
    for j in range(len(second[i])):
        if len(second[i][j]) <= 1:
            second[i][j+1] = (second[i][j]+second[i][j+1])

third = {}
for i in second:
    third[i] = []
    for j in range(len(second[i])):
        if len(second[i][j]) >= 2:
            third[i].append(second[i][j])

KeyError: '지점'

In [ ]:
기사 = pd.DataFrame(columns=['지점,시간','시간','예보내용','강도'])
for i in third:
    for j in range(len(third[i])):
        if len(third[i][j]) == 2:
            기사.loc[len(기사)] = [i,third[i][j][1],third[i][j][0],None]
        elif len(third[i][j]) == 3:
            기사.loc[len(기사)] = [i,third[i][j][2],third[i][j][0],third[i][j][1][-1]]

In [370]:
기사[['지점','지점명','일시']] = 기사['지점,시간'].str.split('@',n=2,expand=True)
기사[['시작시간','끝시간']] = 기사['시간'].str.split('-',n=1,expand=True)
기사 = 기사.reindex(columns=['지점','지점명','일시','시작시간','끝시간','예보내용','강도'])
기사

               일시  시작시간   끝시간 예보내용    강도
0      2011-01-01  0145        소낙눈  None
1      2011-01-01  0300        소낙눈     0
2      2011-01-01  0600  0837  소낙눈     0
3      2011-01-01  1015        소낙눈  None
4      2011-01-01  1200  1230  소낙눈     0
...           ...   ...   ...  ...   ...
18463  2020-09-14  1558  1758   박무  None
18464  2020-09-14  1948  1956    비  None
18465  2020-10-05  0040  0057    비  None
18466  2020-10-11  0022  0105    비  None
18467  2020-12-22  0910  1030   연무  None

[18468 rows x 5 columns]

               일시  시작시간   끝시간 예보내용    강도
0      2011-01-01  0145        소낙눈  None
1      2011-01-01  0300        소낙눈     0
2      2011-01-01  0600  0837  소낙눈     0
3      2011-01-01  1015        소낙눈  None
4      2011-01-01  1200  1230  소낙눈     0
...           ...   ...   ...  ...   ...
18381  2020-09-14  1558  1758   박무  None
18382  2020-09-14  1948  1956    비  None
18383  2020-10-05  0040  0057    비  None
18384  2020-10-11  0022  0105    비  None
18385  2020-12-22  0910  1030   연무  None

[18386 rows x 5 columns]